{% extends "QuizBase.html" %}

{% block header_classes %}
bg-yellow-600 text-white
{% endblock %}

{% load static %}
{% block Background_img %}
style="background-image: url('{% static 'myapp/images/Medium.svg' %}');"
{% endblock %}

{% block header_text %}        Medium Quiz        {% endblock %}

{% block button_color1 %}       bg-yellow-500 hover:bg-[#f59e0b]        {% endblock %}"
{% block button_color2 %}       bg-yellow-500 hover:bg-[#f59e0b]        {% endblock %}"
{% block button_color3 %}       bg-yellow-500 hover:bg-[#f59e0b]        {% endblock %}"
{% block button_color4 %}       bg-yellow-500 hover:bg-[#f59e0b]       {% endblock %}"

{% block Question_text %}      {{ Medium.Question }}        {% endblock %}

{% block Choice_1 %}      {{ Medium.choice1 }}      {% endblock %}
{% block Choice_2 %}      {{ Medium.choice2 }}      {% endblock %}
{% block Choice_3 %}      {{ Medium.choice3 }}      {% endblock %}
{% block Choice_4 %}      {{ Medium.choice4 }}      {% endblock %}

